<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather app</title>
</head>
<body>
    {{>header}}
    <h4>{{name }}</h4>
    <p>from handle bar file..</p>

    <form action="">
        <input type="text" placeholder="location">
        <button>Go!</button>
    </form>

    <p id="msg1"> </p>
    <p id="msg2"> </p>
    
    <script src="./js/main.js"></script>
</body>
</html>